 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

 @import "tailwindcss";

@theme{
  --color-primary:#F84565;
  --color-primary:#D63854;
}

 *{
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;

 }

 body{
  color:white;
  background-color: #09090B;
  
 }

 .no-scrollbar{
  scrollbar-width: none;
  
 }

 input::-webkit-uter-spin-button,
 input::-webkit-inner-spin-button{
  -webkit-appearence:none;
 }

 ::-webkit-calender-picker-indicator{
  filter:invert(1);
 }